
<!-- Tool bar -->
<mat-toolbar *ngIf="!isLoginOrRegisterPage()" class="bg-white shadow-md px-6 py-2 flex justify-between items-center">
  <!-- Left Side: Menu Button and Logo -->
  <div class="flex items-center space-x-4">
    <button mat-icon-button 
            class="text-gray-700 hover:text-lime-800 transition duration-200" 
            aria-label="Toggle menu">
      <mat-icon>menu</mat-icon>
    </button>
    <img height="200px" width="200px" src="logo3.png" alt="logo" class="h-24 w-24 object-contain">
  </div>

  <!-- Right Side: Dark Mode and Logout Buttons -->
  <div class="flex items-center space-x-4">
    <button mat-icon-button 
            class="text-gray-700 hover:text-lime-800 transition duration-200" 
            aria-label="Toggle dark mode" 
            (click)="toggleDarkMode()">
      <mat-icon>{{ isDarkMode ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>
    <button  
            class="bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-700 transition duration-200 flex items-center space-x-2" 
            (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>



<!-- sidenav and content container -->
<mat-sidenav-container *ngIf="!isLoginOrRegisterPage()">
  <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
   <app-custom-sidenav [close]= "close()"/>
  </mat-sidenav>
  <mat-sidenav-content [style.margin-left]="sidenavWidth()">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>


<!-- If on login or register route, just show the content -->
<router-outlet *ngIf="isLoginOrRegisterPage()"></router-outlet>